
.celular{display: flex; width:50%;}
.logo{width: 50%;}


.container{display: flex; width: 100%; height: 500px;} /*class geral*/
a{color: black; font-family: 'Courier New', Courier, monospace; text-decoration: none;}
.text:hover{background-color:blue; color: white; text-decoration: none;}


.corpo{ 
  display: flex;
  flex-direction: column;
  width:50%;
  padding: 10px;
  height: 500px;
  border: 1px solid lightgray;
  padding: 1.3rem 0 ;
  justify-content: space-between;
  align-items: center;
 
  
}


a{font-family: monospace;}








.baixar{width: 100px; height: 100px;

}
 .p{text-align: center;}
 .obter{
   margin: 5px;
   
 }






/* aqui está o responsivo para celular*/
@media (max-width:800px){
  .perfil{
    border-radius: 100%;
    height: 150px;
   width: 150px;
  }
.celular{width: 0px;}
.corpo{width: 95%; border: none;}
.logo{width: 60%;}
a{font-size: 15px; padding: 1px;}
a:hover{ background-color: black;}
.baixar{width: 134px; height: 40px; }
.p{text-align: center;}


}


/*aqui e para o pc*/
@media (min-width: 1000px)
{ 


.baixar{width: 120px; height: 40px;}
.celular{width: 690px; height:560px;}
.logo{width: 250px;}
.p{text-align: center;}
a{font-size: 15px; padding: 3px;}
a:hover{background-color: blue; color: white;}
.perfil{
  border-radius: 100%;
  height: 200px;
 width: 200px;
}

}